body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #350052;
  background-color: #FF6D00;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.MuiContainer-root {
  padding: 0 !important;
}